<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  
  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="logDebugFile" />
    <appender-ref ref="logErrorFile" />
  </root>
  
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %message%newline" />
    </layout>
  </appender>
  
  <appender name="logDebugFile" type="log4net.Appender.RollingFileAppender">
    <file value="logs/debug.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %message%newline" />
    </layout>
  </appender>

  <appender name="logErrorFile" type="log4net.Appender.RollingFileAppender">
    <file value="logs/error.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %message%newline" />
    </layout>
  </appender>

  <logger additivity="false" name="logDebugFile">
    <level value="DEBUG"/>
    <appender-ref ref="logDebugFile" />
  </logger>

  <logger additivity="false" name="logErrorFile">
    <level value="ERROR"/>
    <appender-ref ref="logErrorFile" />
  </logger>
  
</log4net>