global:
  scrape_interval: 5s

otlp:
  # Add service.name, service.namespace and service.instance.id to target_info.
  keep_identifying_resource_attributes: true
  # Ingest OTLP data keeping UTF-8 characters in metric/label names.
  translation_strategy: NoTranslation
  promote_resource_attributes:
    - service.instance.id
    - service.name
    - service.namespace
    - service.version
    - cloud.availability_zone
    - cloud.region
    - deployment.environment.name

    # When deploying on Kubernetes, resource attributes used to identify the
    # kubernetes resources in dashboards and alerts.
    - k8s.cluster.name
    - k8s.container.name
    - k8s.cronjob.name
    - k8s.daemonset.name
    - k8s.deployment.name
    - k8s.job.name
    - k8s.namespace.name
    - k8s.node.name
    - k8s.pod.name
    - k8s.replicaset.name
    - k8s.statefulset.name
    - container.name

    # When deploying on VMs, resource attributes used to identify
    # the host in dashboards and alerts.
    - host.name

scrape_configs:
  - job_name: 'api-internal'
    static_configs:
      - targets: ['api-internal:80']
    metrics_path: '/metrics'

  - job_name: 'api-external'
    static_configs:
      - targets: ['api-external:80']
    metrics_path: '/metrics'
