apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: $ACR_LOGIN_SERVER/prometheus:latest
          env:
            - name: ACR_LOGIN_SERVER
              valueFrom:
                secretKeyRef:
                  key: login-server
                  name: acr-secret
          ports:
            - containerPort: 9090
          securityContext:
            allowPrivilegeEscalation: false