name: deve
services:
  api-internal:
    build:
      context: ../
      dockerfile: ./.docker/Dockerfile.ApiInternal
    depends_on:
      - redis
      - prometheus
      - zipkin
      - grafana
    networks:
      - deve-network

  api-external:
    build:
      context: ../
      dockerfile: ./.docker/Dockerfile.ApiExternal
    depends_on:
      - redis
      - prometheus
      - zipkin
      - grafana
    networks:
      - deve-network

  redis:
    image: redis:8.4
    ports:
      - 6379:6379
    networks:
      - deve-network

  prometheus:
    build:
      context: ../
      dockerfile: ./.docker/Dockerfile.Prometheus
    ports:
      - 9090:9090
    restart: unless-stopped
    networks:
      - deve-network

  grafana:    
    build:
      context: ../
      dockerfile: ./.docker/Dockerfile.Grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    environment:
      #GF_LOG_LEVEL: debug
      GF_SECURITY_ADMIN_USER: "admin"
    depends_on:
      - prometheus
    networks:
      - deve-network

  zipkin:
    image: openzipkin/zipkin:3.5.1
    ports:
      - 9411:9411
    networks:
      - deve-network

networks:
  deve-network:
