{{- if has "api-internal" .Values.deploy.enabledServices }}
apiVersion: v1
kind: Secret
metadata:
  name: api-internal
type: Opaque
data:
  certificate.pfx: {{ required "services.apiInternal.certificateContent is required" .Values.services.apiInternal.certificateContent | toString | b64enc }}
stringData:
  dataSourceConnectionString: {{ required "services.apiInternal.dataSourceConnectionString is required" .Values.services.apiInternal.dataSourceConnectionString | quote }}
  jwtSigningSecretKey: {{ required "services.apiInternal.jwtSigningSecretKey is required" .Values.services.apiInternal.jwtSigningSecretKey | quote }}
  jwtEncryptionSecretKey: {{ required "services.apiInternal.jwtEncryptionSecretKey is required" .Values.services.apiInternal.jwtEncryptionSecretKey | quote }}
  certificatePassword: {{ required "services.apiInternal.certificatePassword is required" .Values.services.apiInternal.certificatePassword | quote }}
{{- end }}
