{{- if has "api-internal" .Values.deploy.enabledServices }}
apiVersion: v1
kind: Secret
metadata:
  name: api-internal
type: Opaque
stringData:
  dataSourceConnectionString: {{ required "services.apiInternal.dataSourceConnectionString is required" .Values.services.apiInternal.dataSourceConnectionString | quote }}
  jwtSigningSecretKey: {{ required "services.apiInternal.jwtSigningSecretKey is required" .Values.services.apiInternal.jwtSigningSecretKey | quote }}
  jwtEncryptionSecretKey: {{ required "services.apiInternal.jwtEncryptionSecretKey is required" .Values.services.apiInternal.jwtEncryptionSecretKey | quote }}
{{- end }}
