{{- if has "api-external" .Values.deploy.enabledServices }}
apiVersion: v1
kind: Secret
metadata:
  name: api-external
type: Opaque
data:
  certificate.pfx: {{ required "services.apiExternal.certificateContent is required" .Values.services.apiExternal.certificateContent | toString | b64enc }}
stringData:
  dataSourceConnectionString: {{ required "services.apiExternal.dataSourceConnectionString is required" .Values.services.apiExternal.dataSourceConnectionString | quote }}
  jwtSigningSecretKey: {{ required "services.apiExternal.jwtSigningSecretKey is required" .Values.services.apiExternal.jwtSigningSecretKey | quote }}
  jwtEncryptionSecretKey: {{ required "services.apiExternal.jwtEncryptionSecretKey is required" .Values.services.apiExternal.jwtEncryptionSecretKey | quote }}
  certificatePassword: {{ required "services.apiExternal.certificatePassword is required" .Values.services.apiExternal.certificatePassword | quote }}
{{- end }}
