{{- if has "grafana" .Values.deploy.enabledServices }}
apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  selector:
    app: grafana
  ports:
    - name: http
      nodePort: {{ .Values.services.grafana.externalPort }}
      port: {{ .Values.services.grafana.externalPort }}
      targetPort: {{ .Values.services.grafana.internalPort }}
{{- end }}
