{{- if has "grafana" .Values.deploy.enabledServices }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.services.grafana.persistence.size }}
  storageClassName: {{ .Values.services.grafana.persistence.storageClass }}
{{- end }}
