{{- if has "grafana" .Values.deploy.enabledServices }}
apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  selector:
    app: grafana
  type: ClusterIP
  ports:
    - name: http
      port: {{ .Values.services.grafana.port }}
      targetPort: {{ .Values.services.grafana.port }}
{{- end }}
