{{- if has "grafana" .Values.deploy.enabledServices }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
spec:
  replicas: 2
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: "{{ .Values.acrLoginServer }}/{{ .Values.image.repositories.grafana }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.services.grafana.internalPort }}
          securityContext:
            allowPrivilegeEscalation: false
{{- end }}
