{{- if has "grafana" .Values.deploy.enabledServices }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
spec:
  replicas: 2
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: "{{ .Values.acrLoginServer }}/{{ .Values.image.repositories.grafana }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.services.grafana.port }}
          securityContext:
            allowPrivilegeEscalation: false
          env:         
            - name: GF_SERVER_ROOT_URL
              value: {{ .Values.services.grafana.host }}
            - name: GF_AUTH_PROXY_ENABLED
              value: "true"
            - name: GF_AUTH_PROXY_HEADER_NAME
              value: "X-Auth-Request-Email"
            - name: GF_AUTH_PROXY_HEADER_PROPERTY
              value: "email"
            - name: GF_AUTH_DISABLE_LOGIN_FORM
              value: "true"
            - name: GF_AUTH_DISABLE_SIGNOUT_MENU
              value: "true"
            - name: GF_USERS_AUTO_ASSIGN_ORG_ROLE
              value: "Editor"

          readinessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.services.grafana.port }}
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 12
          livenessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.services.grafana.port }}
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 6
{{- end }}
