apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: oauth2-proxy
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
    - hosts:
        - {{ .Values.services.oauth2.host }}
      secretName: oauth2-proxy-tls
  rules:
    - host: {{ .Values.services.oauth2.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: oauth2-proxy
                port:
                  number: {{ .Values.services.oauth2.port }}
