{{- if has "prometheus" .Values.deploy.enabledServices }}
apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  selector:
    app: prometheus
  type: LoadBalancer
  ports:
    - name: http
      port: {{ .Values.services.prometheus.externalPort }}
      targetPort: {{ .Values.services.prometheus.internalPort }}
{{- end }}
