{{- if (has "prometheus" (splitList "," .Values.deploy.enabledServices)) }}
apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  selector:
    app: prometheus
  ports:
    - port: {{ .Values.services.prometheus.externalPort }}
      targetPort: {{ .Values.services.prometheus.internalPort }}
{{- end }}
