{{- if has "prometheus" .Values.deploy.enabledServices }}
apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  selector:
    app: prometheus
  type: ClusterIP
  ports:
    - name: http
      port: {{ .Values.services.prometheus.port }}
      targetPort: {{ .Values.services.prometheus.port }}
{{- end }}
