{{- if has "redis" .Values.deploy.enabledServices }}
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  selector:
    app: redis
  ports:
    - name: http
      port: {{ .Values.services.redis.externalPort }}
      targetPort: {{ .Values.services.redis.internalPort }}
{{- end }}
