{{- if has "redis" .Values.deploy.enabledServices }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          repository: redis # We use the standard image
          tag: latest
          # If you want to use a custom image from your ACR, uncomment the line below
          # and remove the 'repository' and 'tag' lines above. Also update docker-compose accordingly.
          #image: "{{ .Values.acrLoginServer }}/{{ .Values.image.repositories.redis }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.services.redis.port }}
          securityContext:
            allowPrivilegeEscalation: false
{{- end }}
