{{- if (has "zipkin" (splitList "," .Values.deploy.enabledServices)) }}
apiVersion: v1
kind: Service
metadata:
  name: zipkin
spec:
  selector:
    app: zipkin
  ports:
    - port: {{ .Values.services.zipkin.externalPort }}
      targetPort: {{ .Values.services.zipkin.internalPort }}
{{- end }}
