name: Build and Test

on:
  workflow_call:
    inputs:
      solution:
        description: "The solution to build and test"
        type: string
        required: true

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

    - name: Setup .NET
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore ${{ inputs.solution }}

    - name: Build
      run: dotnet build --no-restore ${{ inputs.solution }}

    - name: Test
      run: dotnet test --no-build --verbosity normal ${{ inputs.solution }}
