# This workflow requires the environment production-api-external with the secrets used in the deploy-azure-aks.yml

name: Deploy to Production

on:
  push:
    branches:
      - production/api-external

jobs:
  deploy-api-external:
    uses: ./.github/workflows/deploy-azure-aks.yml
    with:
      environment: "production-api-external"
      solution: "Deve.Api.External.sln"
    secrets:
      ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
      ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
      ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      AKS_CLUSTER_NAME: ${{ secrets.AKS_CLUSTER_NAME }}
      AKS_RESOURCE_GROUP: ${{ secrets.AKS_RESOURCE_GROUP }}
