# This workflow requires the environment production-api-external with the secrets used in the deploy-azure-aks.yml

name: Deploy to Production

on:
  push:
    branches:
      - production/api-external

jobs:
  deploy:
    uses: ./.github/workflows/deploy-azure-aks.yml
    with:
      solution: 'Deve.Api.External.sln'
      environment: production-api-external
