# This workflow requires the environment production-api-external with the secrets used in the deploy-azure-aks.yml

name: Deploy Api External to Production

on:
  push:
    branches:
      - production/api-external
    tags:
      - 'api-external/[0-9]+.[0-9]+.[0-9]+'

jobs:
  build-and-test:
    uses: ./.github/workflows/build-and-test.yml
    with:
      solution: "Deve.Api.External.sln"
  
  deploy-api-external:
    needs: build-and-test
    uses: ./.github/workflows/deploy-azure-aks.yml
    with:
      environment: "production"
      services: "api-external"
    secrets: inherit
